# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/chromedriver.exe
/fiddler-feizhu-info.log
/chromedriver/
/target/
/src/main/resources/config.properties

